In [16]:
import pandas as pd
import numpy as np

In [17]:
source="C:/Users/HP/Desktop/Commitment_to_health_by-country_2007-2008.xlsx"
df = pd.read_excel(source)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,… to lead a long and healthy life …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6 Commitment to health: resources, access and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,Health expenditure,NaN,NaN,NaN,NaN,NaN,One-year-olds fully immunized,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,Public\n(% of GDP)\n2004,NaN,Private\n(% of GDP)\n2004,NaN,Per capita\n(PPP US$)\n2004,NaN,Against \ntuberculosis\n(%)\n2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = pd.read_excel(source, header=6)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Health expenditure,NaN,NaN,NaN,NaN,NaN,One-year-olds fully immunized,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDI rank,NaN,NaN,Public\n(% of GDP)\n2004,NaN,Private\n(% of GDP)\n2004,NaN,Per capita\n(PPP US$)\n2004,NaN,Against \ntuberculosis\n(%)\n2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Iceland,NaN,8.3,NaN,1.6,NaN,"3,294",NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2,Norway,NaN,8.1,NaN,1.6,NaN,"4,080",NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,Australia,NaN,6.5,NaN,3.1,NaN,"3,123",NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,Canada,NaN,6.8,NaN,3.0,NaN,"3,173",NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5,Ireland,NaN,5.7,NaN,1.5,NaN,"2,618",NaN,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6,Sweden,NaN,7.7,NaN,1.4,NaN,"2,828",NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df.dropna(how="all", axis=1)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Children with diarrhoea receiving oral rehydra...,NaN,NaN,NaN,NaN,NaN,"Physicians\n(per 100,000 people)\n2000-04 b",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,MDG,NaN,MDG,NaN,NaN,NaN
2,NaN,NaN,Health expenditure,NaN,NaN,NaN,NaN,One-year-olds fully immunized,NaN,NaN,NaN,NaN,NaN,Contraceptive prevalence\nratea\n(% of married...,NaN,Births attended by skilled health personnel \n...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDI rank,NaN,Public\n(% of GDP)\n2004,NaN,Private\n(% of GDP)\n2004,NaN,Per capita\n(PPP US$)\n2004,Against \ntuberculosis\n(%)\n2005,NaN,Against measles\n(%)\n2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN
7,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN
8,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN
9,4,Canada,6.8,NaN,3.0,NaN,"3,173",..,NaN,94,NaN,..,NaN,75,d,98,NaN,214,NaN
10,5,Ireland,5.7,NaN,1.5,NaN,"2,618",93,NaN,84,NaN,..,NaN,..,NaN,100,NaN,279,NaN
11,6,Sweden,7.7,NaN,1.4,NaN,"2,828",16,NaN,94,NaN,..,NaN,78,"c,d",100,"c,d",328,NaN

In [20]:
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Children with diarrhoea receiving oral rehydra...,NaN,NaN,NaN,NaN,NaN,"Physicians\n(per 100,000 people)\n2000-04 b",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,MDG,NaN,MDG,NaN,NaN,NaN
2,NaN,NaN,Health expenditure,NaN,NaN,NaN,NaN,One-year-olds fully immunized,NaN,NaN,NaN,NaN,NaN,Contraceptive prevalence\nratea\n(% of married...,NaN,Births attended by skilled health personnel \n...,NaN,NaN,NaN
3,HDI rank,NaN,Public\n(% of GDP)\n2004,NaN,Private\n(% of GDP)\n2004,NaN,Per capita\n(PPP US$)\n2004,Against \ntuberculosis\n(%)\n2005,NaN,Against measles\n(%)\n2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN
6,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN
7,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN
8,4,Canada,6.8,NaN,3.0,NaN,"3,173",..,NaN,94,NaN,..,NaN,75,d,98,NaN,214,NaN
9,5,Ireland,5.7,NaN,1.5,NaN,"2,618",93,NaN,84,NaN,..,NaN,..,NaN,100,NaN,279,NaN
10,6,Sweden,7.7,NaN,1.4,NaN,"2,828",16,NaN,94,NaN,..,NaN,78,"c,d",100,"c,d",328,NaN
11,7,Switzerland,6.7,NaN,4.8,NaN,"4,011",..,NaN,82,NaN,..,NaN,82,d,..,NaN,361,NaN

In [21]:
colonnes=[]
for c in df.columns:
     colonnes.append([str(i) for i in df[c][:4] if pd.notnull(i)])           
colonnes

[['HDI rank'],
 [],
 ['Health expenditure', 'Public\n(% of GDP)\n2004'],
 [],
 ['Private\n(% of GDP)\n2004'],
 [],
 ['Per capita\n(PPP US$)\n2004'],
 ['One-year-olds fully immunized ', 'Against \ntuberculosis\n(%)\n2005'],
 [],
 ['MDG', 'Against measles\n(%)\n2005'],
 [],
 ['Children with diarrhoea receiving oral rehydration and continued feeding \n(% under age 5) 1998-2005 b'],
 [],
 ['MDG',
  'Contraceptive prevalence\nratea\n(% of married women\n aged 15-49) \n1997-2005 b'],
 [],
 ['MDG', 'Births attended by skilled health personnel \n(%)\n1997-2005 b'],
 [],
 ['Physicians\n(per 100,000 people)\n2000-04 b'],
 []]

In [22]:
colonnes=[
    "HDI_rank",
    "Countries",
    "Health_expenditure_Public(%)",
    "Reference1",
    "Health_expenditure_Private(%)",
    "Reference2",
    "Health_expenditure_Per capita(PPA)",
    "One-year-olds_fully_immunized_Against_tuberculosis(%)2005",
    "Reference3",
    "One-year-olds_fully_immunized_Against_measles(%)2005",
    "Reference4",
    "Child_diarr_receiv_oral_rehydration(% under age 5)",
    "Reference5",
    "Contraceptive_prevalence_rate(%)",
    "Reference6",
    "Births_attended_by_skilled_health_personnel(%)",
    "Reference7",
    "Physicians_per_100000_people",
    "Reference8"
]

In [23]:
df.columns=colonnes
df.head(8)

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Children with diarrhoea receiving oral rehydra...,NaN,NaN,NaN,NaN,NaN,"Physicians\n(per 100,000 people)\n2000-04 b",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,MDG,NaN,MDG,NaN,NaN,NaN
2,NaN,NaN,Health expenditure,NaN,NaN,NaN,NaN,One-year-olds fully immunized,NaN,NaN,NaN,NaN,NaN,Contraceptive prevalence\nratea\n(% of married...,NaN,Births attended by skilled health personnel \n...,NaN,NaN,NaN
3,HDI rank,NaN,Public\n(% of GDP)\n2004,NaN,Private\n(% of GDP)\n2004,NaN,Per capita\n(PPP US$)\n2004,Against \ntuberculosis\n(%)\n2005,NaN,Against measles\n(%)\n2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN
6,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN
7,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN

In [24]:
df=df.drop(np.arange(4),axis=0).reset_index(drop=True)
df.head()

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN
2,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN
3,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN
4,4,Canada,6.8,NaN,3.0,NaN,"3,173",..,NaN,94,NaN,..,NaN,75,d,98,NaN,214,NaN

In [25]:
df.tail(23)

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8
177,175,Guinea-Bissau,1.3,NaN,3.5,NaN,28,80,NaN,80,NaN,23,NaN,8,NaN,35,NaN,12,NaN
178,176,Burkina Faso,3.3,NaN,2.8,NaN,77,99,NaN,84,NaN,47,NaN,14,NaN,38,NaN,5,NaN
179,177,Sierra Leone,1.9,NaN,1.4,NaN,34,83,c,67,NaN,39,NaN,4,NaN,42,NaN,3,NaN
180,Developing countries,NaN,..,NaN,..,NaN,..,83,NaN,74,NaN,..,NaN,..,NaN,60,NaN,..,NaN
181,Least developed countries,NaN,..,NaN,..,NaN,..,82,NaN,72,NaN,..,NaN,..,NaN,35,NaN,..,NaN
182,Arab States,NaN,..,NaN,..,NaN,..,86,NaN,86,NaN,..,NaN,..,NaN,74,NaN,..,NaN
183,East Asia and the Pacific,NaN,..,NaN,..,NaN,..,87,NaN,84,NaN,..,NaN,..,NaN,87,NaN,..,NaN
184,Latin America and the Caribbean,NaN,..,NaN,..,NaN,..,96,NaN,92,NaN,..,NaN,..,NaN,87,NaN,..,NaN
185,South Asia,NaN,..,NaN,..,NaN,..,79,NaN,65,NaN,..,NaN,..,NaN,39,NaN,..,NaN
186,Sub-Saharan Africa,NaN,..,NaN,..,NaN,..,76,NaN,65,NaN,..,NaN,..,NaN,43,NaN,..,NaN
187,Central and Eastern Europe and the CIS,NaN,..,NaN,..,NaN,..,95,NaN,97,NaN,..,NaN,..,NaN,97,NaN,..,NaN
188,OECD,NaN,..,NaN,..,NaN,..,92,NaN,93,NaN,..,NaN,..,NaN,95,NaN,..,NaN
189,High-income OECD,NaN,..,NaN,..,NaN,..,86,NaN,92,NaN,..,NaN,..,NaN,99,NaN,..,NaN
190,High human development,NaN,..,NaN,..,NaN,..,96,NaN,95,NaN,..,NaN,..,NaN,97,NaN,..,NaN
191,Medium human development,NaN,..,NaN,..,NaN,..,84,NaN,75,NaN,..,NaN,..,NaN,63,NaN,..,NaN
192,Low human development,NaN,..,NaN,..,NaN,..,71,NaN,61,NaN,..,NaN,..,NaN,38,NaN,..,NaN
193,High income,NaN,..,NaN,..,NaN,..,87,NaN,93,NaN,..,NaN,..,NaN,99,NaN,..,NaN
194,Middle income,NaN,..,NaN,..,NaN,..,90,NaN,87,NaN,..,NaN,..,NaN,88,NaN,..,NaN
195,Low income,NaN,..,NaN,..,NaN,..,77,NaN,65,NaN,..,NaN,..,NaN,41,NaN,..,NaN
196,World,NaN,..,NaN,..,NaN,..,83,g,77,g,..,NaN,..,NaN,63,g,..,NaN
197,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,a. Data usually refer to women aged 15-49 who ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,SOURCES\nColumns 1 and 2: World Bank 2007b.\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df=df.drop(np.arange(180,len(df)),axis=0).reset_index(drop=True)
df.tail()

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8
175,173,Mali,3.2,NaN,3.4,NaN,54,82,NaN,86,NaN,45,NaN,8,NaN,41,NaN,8,NaN
176,174,Niger,2.2,NaN,2.0,NaN,26,93,NaN,83,NaN,43,NaN,14,NaN,16,NaN,2,NaN
177,175,Guinea-Bissau,1.3,NaN,3.5,NaN,28,80,NaN,80,NaN,23,NaN,8,NaN,35,NaN,12,NaN
178,176,Burkina Faso,3.3,NaN,2.8,NaN,77,99,NaN,84,NaN,47,NaN,14,NaN,38,NaN,5,NaN
179,177,Sierra Leone,1.9,NaN,1.4,NaN,34,83,c,67,NaN,39,NaN,4,NaN,42,NaN,3,NaN

In [27]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df=df.drop(df[df["HDI_rank"].isin(hdi_categories)].index,axis=0).reset_index(drop=True)
df.head()

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8
0,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN
1,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN
2,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN
3,4,Canada,6.8,NaN,3.0,NaN,"3,173",..,NaN,94,NaN,..,NaN,75,d,98,NaN,214,NaN
4,5,Ireland,5.7,NaN,1.5,NaN,"2,618",93,NaN,84,NaN,..,NaN,..,NaN,100,NaN,279,NaN

In [28]:
df.loc[:, "HDI_category"] = np.where(df["HDI_rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI_rank"] < 71,
                                              "HIGH HUMAN DEVELOPMENT",
                                              "MEDIUM HUMAN DEVELOPMENT"
                                              
                                             )
                                    )
df.sort_values(by="HDI_rank", inplace=True)
df.head()

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8,HDI_category
0,1,Iceland,8.3,NaN,1.6,NaN,"3,294",..,NaN,90,NaN,..,NaN,..,NaN,..,NaN,362,NaN,HIGH HUMAN DEVELOPMENT
1,2,Norway,8.1,NaN,1.6,NaN,"4,080",..,NaN,90,NaN,..,NaN,..,NaN,100,"c,d",313,NaN,HIGH HUMAN DEVELOPMENT
2,3,Australia,6.5,NaN,3.1,NaN,"3,123",..,NaN,94,NaN,..,NaN,..,NaN,100,NaN,247,NaN,HIGH HUMAN DEVELOPMENT
3,4,Canada,6.8,NaN,3.0,NaN,"3,173",..,NaN,94,NaN,..,NaN,75,d,98,NaN,214,NaN,HIGH HUMAN DEVELOPMENT
4,5,Ireland,5.7,NaN,1.5,NaN,"2,618",93,NaN,84,NaN,..,NaN,..,NaN,100,NaN,279,NaN,HIGH HUMAN DEVELOPMENT

In [29]:
df[70:157]

,HDI_rank,Countries,Health_expenditure_Public(%),Reference1,Health_expenditure_Private(%),Reference2,Health_expenditure_Per capita(PPA),One-year-olds_fully_immunized_Against_tuberculosis(%)2005,Reference3,One-year-olds_fully_immunized_Against_measles(%)2005,Reference4,Child_diarr_receiv_oral_rehydration(% under age 5),Reference5,Contraceptive_prevalence_rate(%),Reference6,Births_attended_by_skilled_health_personnel(%),Reference7,Physicians_per_100000_people,Reference8,HDI_category
70,71,Dominica,4.2,NaN,1.7,NaN,309,98,NaN,98,NaN,..,NaN,50,NaN,100,NaN,50,e,MEDIUM HUMAN DEVELOPMENT
71,72,Saint Lucia,3.3,NaN,1.8,NaN,302,99,NaN,94,NaN,..,NaN,47,NaN,99,NaN,517,e,MEDIUM HUMAN DEVELOPMENT
72,73,Kazakhstan,2.3,NaN,1.5,NaN,264,69,NaN,99,NaN,22,NaN,66,NaN,99,NaN,354,NaN,MEDIUM HUMAN DEVELOPMENT
73,74,Venezuela (Bolivarian Republic of),2.0,NaN,2.7,NaN,285,95,NaN,76,NaN,51,NaN,77,NaN,95,NaN,194,NaN,MEDIUM HUMAN DEVELOPMENT
74,75,Colombia,6.7,NaN,1.1,NaN,570,87,NaN,89,NaN,39,NaN,78,NaN,96,NaN,135,NaN,MEDIUM HUMAN DEVELOPMENT
75,76,Ukraine,3.7,NaN,2.8,NaN,427,96,NaN,96,NaN,..,NaN,68,NaN,100,NaN,295,NaN,MEDIUM HUMAN DEVELOPMENT
76,77,Samoa,4.1,NaN,1.2,NaN,218,86,NaN,57,NaN,..,NaN,30,d,100,NaN,70,e,MEDIUM HUMAN DEVELOPMENT
77,78,Thailand,2.3,NaN,1.2,NaN,293,99,NaN,96,NaN,..,NaN,79,NaN,99,NaN,37,NaN,MEDIUM HUMAN DEVELOPMENT
78,79,Dominican Republic,1.9,NaN,4.1,NaN,377,99,NaN,99,NaN,42,NaN,70,NaN,99,NaN,188,NaN,MEDIUM HUMAN DEVELOPMENT
79,80,Belize,2.7,NaN,2.4,NaN,339,96,NaN,95,NaN,..,NaN,56,NaN,83,NaN,105,NaN,MEDIUM HUMAN DEVELOPMENT
80,81,China,1.8,d,2.9,d,277,86,NaN,86,NaN,..,NaN,87,NaN,97,NaN,106,NaN,MEDIUM HUMAN DEVELOPMENT
81,82,Grenada,5.0,NaN,1.9,NaN,480,..,NaN,99,NaN,..,NaN,54,NaN,100,NaN,50,e,MEDIUM HUMAN DEVELOPMENT
82,83,Armenia,1.4,NaN,4.0,NaN,226,94,NaN,94,NaN,48,NaN,53,NaN,98,NaN,359,NaN,MEDIUM HUMAN DEVELOPMENT
83,84,Turkey,5.2,d,2.1,d,557,89,NaN,91,NaN,19,NaN,71,NaN,83,NaN,135,NaN,MEDIUM HUMAN DEVELOPMENT
84,85,Suriname,3.6,NaN,4.2,NaN,376,..,NaN,91,NaN,43,NaN,42,NaN,85,NaN,45,NaN,MEDIUM HUMAN DEVELOPMENT
85,86,Jordan,4.7,d,5.1,d,502,89,NaN,95,NaN,44,NaN,56,NaN,100,NaN,203,NaN,MEDIUM HUMAN DEVELOPMENT
86,87,Peru,1.9,NaN,2.2,NaN,235,93,NaN,80,NaN,57,NaN,71,NaN,73,NaN,117,e,MEDIUM HUMAN DEVELOPMENT
87,88,Lebanon,3.2,NaN,8.4,NaN,817,..,NaN,96,NaN,..,NaN,58,NaN,89,d,325,NaN,MEDIUM HUMAN DEVELOPMENT
88,89,Ecuador,2.2,NaN,3.3,NaN,261,99,NaN,93,NaN,..,NaN,73,NaN,75,NaN,148,NaN,MEDIUM HUMAN DEVELOPMENT
89,90,Philippines,1.4,NaN,2.0,NaN,203,91,NaN,80,NaN,76,NaN,49,NaN,60,NaN,58,NaN,MEDIUM HUMAN DEVELOPMENT
90,91,Tunisia,2.8,f,2.8,f,502,97,c,96,NaN,..,NaN,66,NaN,90,NaN,134,NaN,MEDIUM HUMAN DEVELOPMENT
91,92,Fiji,2.9,NaN,1.7,NaN,284,90,NaN,70,NaN,..,NaN,44,NaN,99,NaN,34,e,MEDIUM HUMAN DEVELOPMENT
92,93,Saint Vincent and the Grenadines,3.9,NaN,2.2,NaN,418,95,NaN,97,NaN,..,NaN,58,NaN,100,NaN,87,e,MEDIUM HUMAN DEVELOPMENT
93,94,Iran (Islamic Republic of),3.2,NaN,3.4,NaN,604,99,NaN,94,NaN,..,NaN,74,NaN,90,NaN,87,NaN,MEDIUM HUMAN DEVELOPMENT
94,95,Paraguay,2.6,NaN,5.1,NaN,327,78,NaN,90,NaN,..,NaN,73,NaN,77,NaN,111,NaN,MEDIUM HUMAN DEVELOPMENT
95,96,Georgia,1.5,NaN,3.8,NaN,171,95,NaN,92,NaN,..,NaN,47,NaN,92,NaN,409,NaN,MEDIUM HUMAN DEVELOPMENT
96,97,Guyana,4.4,NaN,0.9,NaN,329,96,NaN,92,NaN,40,NaN,37,NaN,86,NaN,48,NaN,MEDIUM HUMAN DEVELOPMENT
97,98,Azerbaijan,0.9,NaN,2.7,NaN,138,98,NaN,98,NaN,40,NaN,55,NaN,88,NaN,355,NaN,MEDIUM HUMAN DEVELOPMENT
98,99,Sri Lanka,2.0,NaN,2.3,NaN,163,99,NaN,99,NaN,..,NaN,70,NaN,96,NaN,55,NaN,MEDIUM HUMAN DEVELOPMENT
99,100,Maldives,6.3,NaN,1.4,NaN,494,99,NaN,97,NaN,..,NaN,39,NaN,70,NaN,92,NaN,MEDIUM HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,128,India,0.9,NaN,4.1,NaN,91,75,NaN,58,NaN,22,NaN,47,NaN,43,NaN,60,NaN,MEDIUM HUMAN DEVELOPMENT
128,129,Solomon Islands,5.6,NaN,0.3,NaN,114,84,NaN,72,NaN,..,NaN,11,d,85,NaN,13,e,MEDIUM HUMAN DEVELOPMENT
129,130,Lao People's Democratic Republic,0.8,NaN,3.1,NaN,74,65,NaN,41,NaN,37,NaN,32,NaN,19,NaN,..,NaN,MEDIUM HUMAN DEVELOPMENT
130,131,Cambodia,1.7,NaN,5.0,NaN,140,87,NaN,79,NaN,59,NaN,24,NaN,32,NaN,16,NaN,MEDIUM HUMAN DEVELOPMENT
131,132,Myanmar,0.3,NaN,1.9,NaN,38,76,NaN,72,NaN,48,NaN,34,NaN,57,NaN,36,NaN,MEDIUM HUMAN DEVELOPMENT
132,133,Bhutan,3.0,NaN,1.6,NaN,93,99,NaN,93,NaN,..,NaN,31,NaN,37,NaN,5,NaN,MEDIUM HUMAN DEVELOPMENT
133,134,Comoros,1.6,NaN,1.2,NaN,25,90,NaN,80,NaN,31,NaN,26,NaN,62,NaN,15,NaN,MEDIUM HUMAN DEVELOPMENT
134,135,Ghana,2.8,NaN,3.9,NaN,95,99,NaN,83,NaN,40,NaN,25,NaN,47,NaN,15,NaN,MEDIUM HUMAN DEVELOPMENT
135,136,Pakistan,0.4,NaN,1.8,NaN,48,82,NaN,78,NaN,33,d,28,NaN,31,NaN,74,NaN,MEDIUM HUMAN DEVELOPMENT
136,137,Mauritania,2.0,NaN,0.9,NaN,43,87,NaN,61,NaN,28,NaN,8,NaN,57,NaN,11,NaN,MEDIUM HUMAN DEVELOPMENT
137,138,Lesotho,5.5,NaN,1.0,NaN,139,96,NaN,85,NaN,53,NaN,37,NaN,55,NaN,5,NaN,MEDIUM HUMAN DEVELOPMENT
138,139,Congo,1.2,NaN,1.3,NaN,30,85,c,56,NaN,..,NaN,44,NaN,86,NaN,20,NaN,MEDIUM HUMAN DEVELOPMENT
139,140,Bangladesh,0.9,NaN,2.2,NaN,64,99,NaN,81,NaN,52,NaN,58,NaN,13,NaN,26,NaN,MEDIUM HUMAN DEVELOPMENT
140,141,Swaziland,4.0,NaN,2.3,NaN,367,84,NaN,60,NaN,24,NaN,48,NaN,74,NaN,16,NaN,MEDIUM HUMAN DEVELOPMENT
141,142,Nepal,1.5,NaN,4.1,NaN,71,87,NaN,74,NaN,43,NaN,38,NaN,11,NaN,21,NaN,MEDIUM HUMAN DEVELOPMENT
142,143,Madagascar,1.8,NaN,1.2,NaN,29,72,NaN,59,NaN,47,NaN,27,NaN,51,NaN,29,NaN,MEDIUM HUMAN DEVELOPMENT
143,144,Cameroon,1.5,NaN,3.7,NaN,83,77,NaN,68,NaN,43,NaN,26,NaN,62,NaN,19,NaN,MEDIUM HUMAN DEVELOPMENT
144,145,Papua New Guinea,3.0,NaN,0.6,NaN,147,73,NaN,60,NaN,..,NaN,26,d,41,NaN,5,NaN,MEDIUM HUMAN DEVELOPMENT
145,146,Haiti,2.9,NaN,4.7,NaN,82,71,NaN,54,NaN,41,NaN,28,NaN,24,NaN,25,e,MEDIUM HUMAN DEVELOPMENT
146,147,Sudan,1.5,NaN,2.6,NaN,54,57,NaN,60,NaN,38,NaN,7,NaN,87,NaN,22,NaN,MEDIUM HUMAN DEVELOPMENT
147,148,Kenya,1.8,NaN,2.3,NaN,86,85,NaN,69,NaN,33,NaN,39,NaN,42,NaN,14,NaN,MEDIUM HUMAN DEVELOPMENT
148,149,Djibouti,4.4,NaN,1.9,NaN,87,52,NaN,65,NaN,..,NaN,9,NaN,61,NaN,18,NaN,MEDIUM HUMAN DEVELOPMENT
149,150,Timor-Leste,8.8,NaN,2.4,NaN,143,70,NaN,48,NaN,..,NaN,10,NaN,18,NaN,10,NaN,MEDIUM HUMAN DEVELOPMENT
150,151,Zimbabwe,3.5,NaN,4.0,NaN,139,98,NaN,85,NaN,80,NaN,54,NaN,73,NaN,16,NaN,MEDIUM HUMAN DEVELOPMENT
151,152,Togo,1.1,NaN,4.4,NaN,63,96,NaN,70,NaN,25,NaN,26,NaN,61,NaN,4,NaN,MEDIUM HUMAN DEVELOPMENT
152,153,Yemen,1.9,NaN,3.1,NaN,82,66,NaN,76,NaN,23,d,23,NaN,27,NaN,33,NaN,MEDIUM HUMAN DEVELOPMENT
153,154,Uganda,2.5,NaN,5.1,NaN,135,92,NaN,86,NaN,29,NaN,20,NaN,39,NaN,8,NaN,MEDIUM HUMAN DEVELOPMENT
154,155,Gambia,1.8,NaN,5.0,NaN,88,89,NaN,84,NaN,38,NaN,18,NaN,55,NaN,11,NaN,MEDIUM HUMAN DEVELOPMENT
155,156,Senegal,2.4,NaN,3.5,NaN,72,92,NaN,74,NaN,33,NaN,12,NaN,58,NaN,6,NaN,LOW HUMAN DEVELOPMENT
156,157,Eritrea,1.8,NaN,2.7,NaN,27,91,NaN,84,NaN,54,NaN,8,NaN,28,NaN,5,NaN,LOW HUMAN DEVELOPMENT

In [ ]:
df.to_csv(index=False)